{% extends '::base.html.twig' %}
{% block stylesheets %}
   {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/CSS/fontAwesome.css') }}">
    <style>
        table tr td
        {
            padding-right: 70px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    <table>
        <tr>
            <th>Titre</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Actions possibles</th>
        </tr>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.title }}</td>
                <td>{{ atelier.start|date("d/m/Y") }}</td>
                <td>{{ atelier.end|date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('modifyAteliers',{ 'id': atelier.id}) }}">
                        <i class="fas fa-pen-square fa-3x"></i>
                    </a>
                    <a href="{{ path('removeAteliers',{ 'id': atelier.id}) }}">
                        <i class="fas fa-trash fa-3x"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}