<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6b9311">
    <a class="navbar-brand" href="{{ path('admin_homepage') }}">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('createAteliers') }}">Créer un atelier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('allAteliers') }}">Voir les ateliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('createConferences') }}">Créer une conférence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('allConferences') }}">Voir les conférences</a>
            </li>
        </ul>
    </div>
</nav>